*{
	width: 980px;
	height: auto;
	margin: 0px auto;
}

body{
	margin: 0px auto;
	border: 1px solid black;
}

h4{
	border: 1px solid black;
	text-align: center;
	width: 50%;
	margin-left: 240px;
	margin-bottom: 15px;
	margin-top: 15px;
}

div{
	text-align: center;
	margin-bottom: 15px;
}